.cheeseDrop {
  margin-left: 100px;
  padding: 10px;
  width: 500px;
}
.peopleDrop {
  margin-left: 100px;
  padding: 10px;
  width: 500px;
}
.createBtn {
  margin-left: 100px;
  padding: 10px;
  width: 481px;
}

.cheeseIcon {
  border: 1px border solid red;
}
