.loginForm {
  margin: 50px;
  padding: 10px;
  /* color: dodgerblue; */
}

.formLabel {
  padding: 3px;
}

.cheeseIcon {
  margin-left: 130px;
}

.welcomeTitle {
/* border: 1px solid red; */
padding: 30px;
}